.card--footer {
  display: flex;
  align-items: center;
  background: #f9fafd33;
  border-radius: 5px;
  margin-top: 5px;
}

.card--info {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.card--icon {
  margin-right: 10px;
}
